<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Отчет по диагностике автомобиля</title>

  <link href="./img/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="./img/WebClip.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="./baguettebox/baguetteBox.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="top-line"></div>
  <div class="content">
    <div class="row">
      <div class="main-title">
        <h1>
          <!-- {{ heading }} -->
          Отчет по диагностике автомобиля
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="gallery">


        <!-- {% for path in images %}
          <img src="{{ path }}">
          <a class="img-wrap" href="{{ path }}">
            <img src="{{ path }}" alt="Photo">
          </a>
          {% endfor %} -->

    
        <a class="img-wrap" href="./img/sample/2.jpg">
          <img src="./img/sample/2.jpg" alt="Photo">
        </a>
        <a class="img-wrap" href="./img/sample/3.jpg">
          <img src="./img/sample/3.jpg" alt="Photo">
        </a>
        <a class="img-wrap" href="./img/sample/4.jpg">
          <img src="./img/sample/4.jpg" alt="Photo">
        </a>
        <a class="img-wrap" href="./img/sample/5.jpg">
          <img src="./img/sample/5.jpg" alt="Photo">
        </a>
        <a class="img-wrap" href="./img/sample/6.jpg">
          <img src="./img/sample/6.jpg" alt="Photo">
        </a>
        <a class="img-wrap" href="./img/sample/1.jpg">
          <img src="./img/sample/1.jpg" alt="Photo">
        </a>
        <a class="img-wrap" href="./img/sample/3.jpg">
          <img src="./img/sample/3.jpg" alt="Photo">
        </a>



      </div>
    </div>
    <div class="row">
      <div class="notes-block">
        <h4 class="notes-title">Примечания специалиста по отчету:</h4>
        <div class="notes">

          <!-- {% for p in text %}
            <p>{{ p }}</p>
            {% endfor %} -->
          
          <p>
            Приграный из США. Двигатель целый нужно поварить аргоном пастель не большая трещина. Коробка целая на
            трещине не большая трещина. Автомобиль отдефектован.
            В случае Прекращения действия Подписки на Услугу Договор, Приложения и
            настоящие Правила прекращают свое действие в части, относящейся к
            конкретной Услуге, оказание которой Абоненту прекращается. 
          </p>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="rules">
        <h5 class="title">Системные примечания:</h5>
        <p>Подписка на Услугу — выполнение Абонентом действий, перечисленных на
          соответствующей странице Личного кабинета и направленных на получение
          доступа к конкретной <a href="https://www.google.com/">Услуге на условиях Договора</a>, Приложений к нему и
          настоящих Правил.
        </p>
        <p>
          Помещение Абонента (Помещение) — жилое помещение, принадлежащее
          Абоненту на праве собственности или ином законном основании, а также
          помещения, являющиеся <a href="https://www.google.com/">общим имуществом</a> в многоквартирном доме.
        </p>
        <p>
          Прекращение действия Подписки на Услугу — прекращение оказания
          Абоненту конкретной Услуги, на которую Абонент ранее осуществил <a href="https://www.google.com/">Подписку</a>.
          В случае Прекращения действия Подписки на Услугу Договор, Приложения и
          настоящие Правила прекращают свое действие в части, относящейся к
          конкретной Услуге, оказание которой Абоненту прекращается. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="about-specialist">
        <p class="specialist-name">Специалист: <span>
            <!-- {{ specialist }} -->
            Specialist
          </span></p>
        <p class="date">Дата: <span>
            <!-- {{ date }} -->
            05.02.2021
          </span></p>
      </div>
    </div>
    <div class="row">
      <div class="stamp">
        <img src="./img/stamp.png" alt="">
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <a href="mailto:info@diagnostic-auto.ru">info@diagnostic-auto.ru</a>
      <!-- <button onclick="window.print">save</button> -->
    </div>
  </div>

  <script src="./baguettebox/baguetteBox.min.js"></script>
  <script>
    window.addEventListener('load', function () {
      baguetteBox.run('.gallery');
    });
    const saveBtn = document.querySelector('.save-btn');
  </script>

</body>

</html>